<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cherry.cherry_anddemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".CherryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59643a2565b6d6726000038d" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KpidDPFKzQUiOZPHPxiFzWvobZxQ9oHT" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.interview.webview.JsInteractionActivity" />
        <activity
            android:name=".ui.interview.activity.LifecycleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!-- android:screenOrientation="portrait" 始终以竖屏显示 -->
        <!-- android:screenOrientation="landscape" 始终以横屏显示 -->
        <activity android:name=".ui.interview.activity.LifecycleSecondActivity" />
        <activity android:name=".ui.interview.activity.BindServiceActivity" />
        <activity android:name=".ui.interview.activity.IntentServiceActivity" />
        <activity android:name=".ui.interview.activity.CallBackServiceActivity" />
        <activity android:name=".ui.interview.activity.FragmentActivity" />
        <activity android:name=".ui.interview.broadcast.BroadcastActivity" />

        <receiver
            android:name=".ui.interview.broadcast.BroadcastReceiverTwo"
            android:enabled="true"
            android:exported="true">
            <intent-filter> <!-- android:priority="100" -->
                <action android:name="com.cherry.broadcast.test" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.interview.broadcast.BroadcastReceiverOne"
            android:enabled="true"
            android:exported="true">
            <intent-filter> <!-- android:priority="200" -->
                <action android:name="com.cherry.broadcast.test" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.interview.handler.HandlerActivity" />
        <activity android:name=".ui.interview.asynctask.AsyncTaskActivity" />
        <activity android:name=".ui.interview.handlerthread.HandlerThreadActivity" />
        <activity android:name=".ui.interview.eventdispatch.EventDispatchActivity" />
        <activity android:name=".ui.interview.Layout.LayoutActivity" />
        <activity android:name=".ui.interview.storage.sharepreference.SharePreferenceActivity" />
        <activity android:name=".ui.interview.storage.sqlite.SqliteActivity" />
        <activity android:name=".ui.interview.database.greendao.GreendaoActivity" />
        <activity android:name=".ui.interview.map.LocationActivity" />
        <activity android:name=".ui.interview.map.MapActivity" />
        <activity android:name=".ui.interview.MVVM.MVVMActivity" />
        <activity android:name=".ui.interview.observer.eventbus.FirstActivity" />
        <activity android:name=".ui.interview.observer.eventbus.SecondActivity" />
        <activity android:name=".ui.interview.observer.eventbus.ThirdActivity" />
        <activity android:name=".ui.interview.observer.rxjava.RxjavaActivity" />
        <activity android:name=".ui.interview.activity.IntentActivity"></activity>
    </application>

</manifest>