<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cherry.librarypay" >

    <application
        android:name="com.cherry.module.PayApp"
        android:allowBackup="true"
        android:label="pay"
        android:icon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
